<lui-dialog class="wizarddialog">
	<lui-dialog-header>
		<button class="lui-button  lui-dialog__footer-button topButton" ng-click="process();">Import Master Items</button>
		<lui-dialog-title class="topTitle">MasterScript</lui-dialog-title>
	</lui-dialog-header>
	<lui-dialog-body  id="scrollBody">
		<ul class="lui-list">
  		<li class="lui-list__header">
    <span class="lui-list__text">
			<span class="column1">Title</span>
			<span class="column2">Type</span>
			<span class="column3">Expression</span>
			<span class="column4">Color</span>
			<span class="column5">Status</span>
		</span>
  </li>
  <li ng-repeat="row in input.masterScriptListInternal" class="lui-list__item rowHeight">
    <span class="lui-list__text">
			<div class="column1">{{row.displayName}}</div>
			<div class="column2">{{row.rowDisplayType}}</div>
			<div class="column3">
				<div ng-repeat="field in row.fields" class="fieldoval">{{field}}</div>
			</div>
			<div class="column4"><div class="colorDisc" style="background-color:{{row.color}}"></div></div>
			<div class="column5">{{row.status}} {{row.processed}}</div>
		</span>
  </li>
</ul>
	</lui-dialog-body>
	<lui-dialog-footer>
		<div class="warningLeft">The MasterScript table will always overwrite any manual changes to master items</div>

		<button class="lui-button  lui-dialog__footer-button" ng-click="close();">Close</button>
	</lui-dialog-footer>
</lui-dialog>
